* {
    margin: 0;
}

/* common related styles */
body{
    font-family: 'Merriweather', serif;
}
main{
    margin-left: 140px;
    margin-right: 140px;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #F00;
    padding: 16px 32px;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* header related styles */
header{
    margin: 50px 140px 0;
}

/* banner related styles */
.banner-container {
    margin: 0 auto;
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content{
    width: 600px;
    color: #FFF;
    text-align: center;
}
.banner-sub-title{
    font-size: 32px;
}
.banner-title{
    font-size: 72px;
    font-weight: 900;
}

/* discount section styles */
.discount-container{
    display: flex;
    justify-content: center;
    margin: 120px 0;
}
.discount-content{
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.discount-content-title{
    font-size: 88px;
    margin-bottom: 48px;
}
.discount-content-description{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.discount-content-title,
.discount-content-description{
    color: #F00;
}
.discount-content-sub-title{
    font-size: 48px;
    color: #070211;
    margin-bottom: 48px;
}

/* party section related styles */
.party-container {
    margin: 0 auto;
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    
}
.party-content{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.party-title{
    color: #FFF;
    font-size: 64px;
    letter-spacing: 7px;
}
.party-description{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: lightgray;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 40px;
}

/* awesome portfolio section styles */
.portfolio-container{
    margin-top: 120px;
}
.portfolio-sub-title{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #F00;
}
.portfolio-title{
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 22px;
}
.portfolio-description{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    line-height: 32px;
    margin-bottom: 48px;
}
.portfolio-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.portfolio-single-item img{
    width: 340px;
}
/* .portfolio-single-item img:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} */

/* Subscribe related styles */
.subscribe-container{
    height: 600px;
    background-color: rgba(255, 0, 0, 0.05);
    margin-top: 100px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-content{
    width: 890px;
    text-align: center;
}
.subscribe-title{
    font-size: 48px;
    color: #070211;
    margin: 40px 0;
}
form{
    width: 620px;
    display: flex;
    margin: 0 auto;
}
input{
    border: 0;
    padding: 20px 0;
}

input[type="email"]{
    background-color: #FFF;
    width: 70%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.30);
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
input[type="submit"]{
    width: 30%;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}